@charset "utf-8";
HTML {
  position: relative;
  font-size: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
HTML body {
  font-family: 'Roboto';
  background-color: #eeeeee;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4em;
  word-break: break-word;
}
HTML body.ongpuimg img,
HTML body.ongpuimg .img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
HTML body ul,
HTML body ol {
  padding-left: 1.5rem;
}
HTML body a {
  cursor: pointer;
  text-decoration: none;
  color: #3490c3;
}
/*
*	PICTURES SIZE
*/
.post_body img,
#thread_form img,
#main img {
  height: auto;
  width: auto;
  max-width: 100%;
}
/*
*         FONT_SIZE
*/
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
/*
*         POST_BLOCK
*/
.post-block.close > .block-body {
  display: none;
}
.post-block.quote,
.post-block.code,
.post-block.hidden,
.post-block.spoil {
  display: block;
  padding: 0.4375rem 0.625rem;
  margin: 0.5rem 0;
  border-radius: 0.125rem;
}
.post-block.quote > .block-title,
.post-block.code > .block-title,
.post-block.hidden > .block-title,
.post-block.spoil > .block-title {
  font-weight: bold;
  font-style: italic;
}
.post-block.quote > .block-body,
.post-block.code > .block-body,
.post-block.hidden > .block-body,
.post-block.spoil > .block-body {
  margin-top: 0.5rem;
}
.post-block.quote {
  position: relative;
  background: #e8f7fe;
}
.post-block.quote > .block-title {
  color: #2486b4;
}
.post-block.quote > .block-title:empty {
  margin-left: 0;
}
.post-block.quote > .block-title:empty:before {
  content: 'Цитата';
}
.post-block.quote > .block-title a[title="Перейти к сообщению"] {
  float: left;
  margin: -0.5rem 0.25rem 0 -0.25rem;
  opacity: 0.8;
}
.post-block.quote > .block-title a[title="Перейти к сообщению"]:before {
  background: #2486b4;
}
.post-block.quote > .block-title a[title="Ссылка "] {
  margin: 0 0.5rem;
  box-sizing: border-box;
  color: #3490c3;
  border-bottom: 1px solid #99c8e1;
}
.post-block.quote > .block-body {
  color: #0e3648;
}
.post-block.code {
  border-radius: 0;
  border-left: 0.4rem solid #ffe0b2;
}
.post-block.code > .block-title:before,
.post-block.code .block-title:empty:before {
  content: 'Код';
}
.post-block.code.box {
  position: relative;
}
.post-block.code.box > .block-title,
.post-block.code.box .block-title:empty {
  position: relative;
}
.post-block.code.box > .block-title:before,
.post-block.code.box .block-title:empty:before {
  content: 'Код + ';
}
.post-block.code.box > .block-body {
  max-height: 10rem;
  overflow: auto;
}
.post-block.code.unbox > .block-title:before,
.post-block.code.unbox .block-title:empty:before {
  content: 'Код – ';
}
.post-block.code > .block-title {
  color: #b67b23;
}
.post-block.code > .block-title:before {
  content: 'Код: ';
}
.post-block.code > .block-title:empty:before {
  content: 'Код';
}
.post-block.code > .block-body {
  font-family: Courier, Courier New, Verdana, Arial;
  font-size: 0.9375rem;
  color: #332d24;
}
.post-block.hidden {
  background: #f0f0f0;
}
.post-block.hidden > .block-title {
  color: #3d3d3d;
}
.post-block.hidden > .block-title:before {
  content: 'Скрытый текст: ';
}
.post-block.hidden > .block-title:empty:before {
  content: 'Скрытый текст';
}
.post-block.hidden > .block-body a {
  color: #3490c3;
}
.post-block.spoil {
  padding: 0;
  overflow: hidden;
}
.post-block.spoil > .block-title {
  padding: 0.5rem 0.7rem;
  font-style: normal;
  color: white;
}
.post-block.spoil > .block-title:before,
.poll .hidetop B:before {
  display: inline-block;
  font-size: 1rem;
  content: '';
  height: 0.625em;
  width: 0.625em;
  margin: 0 0.75rem 0 0.25rem;
  box-sizing: border-box;
  border-top: 0.125em solid;
  border-left: 0.125em solid;
  -webkit-transition: 0.3s ease;
}
.post-block.spoil > .block-title:empty:after {
  position: relative;
  display: inline-block;
  content: 'Спойлер';
}
.post-block.spoil > .block-title * {
  color: inherit !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}
.post-block.spoil.close {
  background: #3490c3;
}
.post-block.spoil.close > .block-title:before,
.poll .hidetop.close B:before {
  -webkit-transform: rotate(-135deg) translate(0.125rem, 0.125rem);
  border-top-color: white;
  border-left-color: white;
}
.post-block.spoil.open > .block-title {
  color: #666666;
  background: #d9d9d9;
  margin: 0;
}
.post-block.spoil.open > .block-title:before,
.poll .hidetop.open B:before {
  -webkit-transform: rotate(45deg) translate(0.125rem, 0.125rem);
  border-top-color: #666666;
  border-left-color: #666666;
}
.post-block.spoil > .block-body {
  padding: 0.7rem;
  margin: 0;
  background: #f7f7f7;
}
.post-block.spoil > .block-body .spoil {
  margin-left: 0;
  margin-right: 0;
}
.post-block.spoil > .block-body .spoil > .block-body {
  background: white;
}
.post-block.spoil > .block-body .spoil > .block-body .spoil > .block-body {
  background: #f7f7f7;
}
.post-block.spoil > .block-body .spoil > .block-body .spoil > .block-body .spoil > .block-body {
  background: white;
}
/*
*	ADM TAGS
*/
.cur > .block-title {
  background: #0a8f08;
}
.mod > .block-title {
  background: #039be5;
}
.ex > .block-title {
  background: #e84e40;
}
.cur,
.mod,
.ex {
  margin: 1rem 0;
  display: table;
  width: 100%;
  min-height: 5rem;
  overflow: hidden;
  border-radius: 0.125rem;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: white;
  width: 5rem;
  text-align: center;
  height: 100%;
  font-size: 3rem;
  border-radius: 0;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0.5rem;
  height: 100%;
  margin: 0;
  background: #f2f2f2;
}
/*
*	PANEL
*/
.panel {
  font-size: 1rem;
  line-height: 1.4em;
  text-align: center;
}
.panel .navi {
  display: block;
  margin: 0.7rem 0;
  padding: 0;
}
.panel .navi .button {
  display: inline-block;
  padding: 0.7rem 5%;
  text-decoration: none !important;
  color: gray;
  font-weight: bold;
  text-align: center;
}
.panel .navi .button span {
  text-transform: uppercase;
}
.panel .navi .button.disable {
  color: #d6d6d6;
}
.panel .topic_title_post {
  margin: 0.7rem 0;
}
.panel .topic_title_post a {
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
}
.panel .topic_title_post a span {
  color: gray;
}
.panel .topic_title_post a span.name {
  display: block;
  font-weight: bold;
}
.panel .topic_title_post a span.comma {
  display: none;
}
.panel.bottom .topic_title_post {
  display: none;
}
.panel .who #viewers,
.panel .who #writers {
  display: inline-block;
  margin: 0;
  padding: 0.7rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: gray;
  cursor: pointer;
}
/*
*	HIDETOP,
*	HIDEMAIN
*/
.hat .hidetop {
  position: relative;
  margin: 0.5rem;
  padding: 0.375rem;
  text-align: center;
  background: white;
}
.hat .hidetop span {
  display: none;
}
.hat .hidemain {
  background: white;
}
.post_container .hat .hidetop {
  margin: 0;
}
@media screen and (min-width: 800px) {
  .post_container .hat .hidetop {
    margin-left: 12rem;
    line-height: 12rem;
  }
  .post_container .hat .hidetop.open {
    line-height: 1.4rem;
  }
}
.post_container .hat .hidetop B:after {
  content: "ШАПКУ";
}
.post_container .hat .hidetop.close B:before {
  content: 'ПОКАЗАТЬ';
  margin-right: 0.3125rem;
}
.post_container .hat .hidetop.open B:before {
  content: 'СКРЫТЬ';
  margin-right: 0.3125rem;
}
@media screen and (min-width: 800px) {
  .post_container .hat .hidemain .post_body {
    margin-top: 0.75rem;
  }
}
.post_container .hat .hidemain .post-body {
  color: black !important;
}
.poll .hidetop.close B:before {
  border-top-color: #666666;
  border-left-color: #666666;
}
.poll .hidetop B:after {
  content: "ОПРОС";
}
.poll .hidemain {
  margin: 0.5rem;
}
/*
*	POLL
*/
.poll {
  font-size: 1rem;
  line-height: 1.4em;
}
.poll .hidetop {
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
.poll .hidemain {
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
.poll .hidemain FORM {
  overflow: hidden;
}
.poll .hidemain FORM .poll_title {
  padding: 0.5rem;
  text-align: center;
}
.poll .hidemain FORM .poll_title span {
  font-size: 1.25rem;
  font-weight: bold;
}
.poll .hidemain FORM .poll_body {
  overflow: hidden;
}
.poll .hidemain FORM .poll_body .poll_theme {
  margin: 0.75rem;
}
.poll .hidemain FORM .poll_body .poll_theme .theme_title {
  margin: 0.5rem 0;
}
.poll .hidemain FORM .poll_body .poll_theme .theme_title span {
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item {
    display: table;
    width: 100%;
  }
}
.poll .hidemain FORM .poll_body .poll_theme .items .item {
  position: relative;
  display: block;
  padding: 0.5rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item input {
  display: none;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item input + .icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  vertical-align: bottom;
  border: 0.125rem solid #808080;
  transition: all 0.25s;
  overflow: hidden;
  background: white;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton + .icon {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0 1rem white;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .radiobutton:checked + .icon {
  background: #3490c3;
  border: 0.125rem solid #3490c3;
  -webkit-box-shadow: inset 0 0 0 0.2rem white;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox + .icon {
  border-radius: 0.125rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox:checked + .icon {
  background: #3490c3;
  border: 0.125rem solid #3490c3;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .checkbox:checked + .icon:before {
  content: '';
  font-size: 1rem;
  position: absolute;
  display: inline-block;
  height: 0.7rem;
  width: 0.4rem;
  border-bottom: 0.15625rem solid white;
  border-right: 0.15625rem solid white;
  -webkit-transform: rotate(45deg) translate(0.125rem, -0.1875rem);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .num_votes {
  position: absolute;
  display: inline-block;
  bottom: 0.625rem;
  left: 0.5rem;
  padding: 0 0.375rem;
  z-index: 99;
  opacity: 0.5;
  color: black;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range {
  position: relative;
  margin-top: 0.25rem;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range:before {
  content: '';
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 100%;
  border-radius: 0.125rem;
  background: rgba(130, 130, 130, 0.1);
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range .range_bar {
  display: block;
  height: 1.5rem;
  border-radius: 0.125rem;
  background: #438db6;
}
.poll .hidemain FORM .poll_body .poll_theme .items .item .range .value {
  position: absolute;
  right: 0.3125rem;
  margin-top: -1.5rem;
}
@media screen and (min-width: 800px) {
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item {
    display: table;
    padding: 0.5rem;
    width: 98%;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .name {
    display: table-cell;
    width: 50%;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .num_votes {
    bottom: 50%;
    left: auto;
    margin-bottom: -0.625rem;
  }
  .poll .hidemain FORM .poll_body .poll_theme .items.voted .item .range {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}
.poll .hidemain FORM .votes_info {
  margint-top: 0.75rem;
  text-align: center;
}
.poll .hidemain FORM .buttons {
  text-align: center;
  margin: 0.5rem;
  color: #808080;
}
.poll .hidemain FORM .buttons .button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #3490c3;
  border: none;
  outline: none;
  background: none;
}
/*
*	POST LIST
*/
.posts_list {
  font-size: 1rem;
  line-height: 1.4em;
}
.post_container,
DIV[data-post] {
  margin: 0.5rem;
  padding: 0;
  overflow: hidden;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
/*
*	POST HEADER
*/
.post_header {
  display: block;
  position: relative;
  min-height: 4rem;
  padding: 0.5rem;
  -webkit-user-select: none;
}
@media screen and (min-width: 800px) {
  .post_header {
    float: left;
    padding: 2rem 0.5rem 0;
    width: 12rem;
    text-align: center;
  }
}
.post_header[title*="Просмотреть репутацию"] {
  color: #000 !important;
  text-decoration: underline !important;
}
.post_header .header_wrapper .avatar {
  position: relative;
  float: left;
  margin: 0.25rem 0.625rem 0 0.25rem;
}
@media screen and (min-width: 800px) {
  .post_header .header_wrapper .avatar {
    float: none;
    margin: 0.5rem 0;
    padding: 0;
  }
}
.post_header .header_wrapper .avatar.disable {
  margin: 0.25rem 0 0;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .post_header .header_wrapper .avatar.disable {
    height: 4rem;
    margin: 0 0.1875rem 0 0;
  }
}
.post_header .header_wrapper .avatar.disable .img {
  display: none;
}
.post_header .header_wrapper .avatar.circle .img {
  overflow: hidden;
  border-radius: 3.75rem;
}
.post_header .header_wrapper .avatar .img {
  display: block;
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 auto;
  padding: 0;
  border-radius: 0.125rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 800px) {
  .post_header .header_wrapper .avatar .img[style*="av.png"] {
    height: 2rem;
  }
}
.post_header .header_wrapper .inf {
  color: #808080;
}
.post_header .header_wrapper .nick {
  font-size: 1.1875rem;
  color: #404040;
}
@media screen and (min-width: 800px) {
  .post_header .header_wrapper .nick {
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    text-align: center;
  }
}
.post_header .header_wrapper .nick.online {
  color: rgba(0, 130, 0, 0.8);
}
.post_header .header_wrapper .nick.curator:before {
  content: 'к';
  display: inline-block;
  position: relative;
  margin-right: 0.25rem;
  font-size: 1rem;
  top: -0.1875rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 0.85em;
  border-radius: 1rem;
  color: white;
  background: rgba(0, 130, 0, 0.8);
}
.post_header .header_wrapper .group {
  font-size: 0.875rem;
}
.post_header .header_wrapper .group * {
  color: #808080 !important;
  font-weight: normal !important;
}
.post_header .header_wrapper .reputation {
  font-size: 0.875rem;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  .post_header .header_wrapper .reputation {
    display: block;
  }
}
.post_header .header_wrapper .reputation span:after {
  content: '★';
  margin-left: 0.1875rem;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  .post_header .header_wrapper .reputation span:after {
    margin-right: 0.1875rem;
  }
}
.post_header .header_wrapper .date-link {
  font-size: 0.875rem;
  color: #808080 !important;
}
@media screen and (max-width: 800px) {
  .post_header .header_wrapper .date-link {
    display: inline-block;
  }
}
.post_header .header_wrapper .date-link .link {
  display: none;
}
.post_header .header_wrapper .menu {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  text-align: center;
  background: url(material_src/more.png) center no-repeat;
  background-size: 1.625rem;
  cursor: pointer;
}
@media screen and (max-width: 799px) {
  .post_header .header_wrapper .menu {
    position: absolute;
    right: 0;
    top: 0.25rem;
    -webkit-transform: rotate(90deg);
  }
}
.post_header .header_wrapper .menu span {
  display: none;
}
/*
*	POST_BODY
*/
.post_body,
#multimoderation > form {
  position: relative;
  display: block;
  padding: 0;
  margin: 0.75rem;
  text-align: left;
  background-clip: padding-box;
}
@media screen and (min-width: 800px) {
  .post_body,
  #multimoderation > form {
    margin-left: 13rem;
  }
}
.post_body a[title="Перейти к сообщению"],
#multimoderation > form a[title="Перейти к сообщению"] {
  position: relative;
  display: inline-block;
  margin: 0 -0.1875rem 0 0;
  top: 0.375rem;
  width: 1.5rem;
  height: 1.5rem;
}
.post_body a[title="Перейти к сообщению"] img,
#multimoderation > form a[title="Перейти к сообщению"] img {
  display: none;
}
.post_body a[title="Перейти к сообщению"]:before,
#multimoderation > form a[title="Перейти к сообщению"]:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #489cc9;
  overflow: visible;
}
.post_body a[title="Перейти к сообщению"]:after,
#multimoderation > form a[title="Перейти к сообщению"]:after {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  content: '';
  top: 0.5rem;
  left: 0.5625rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.1875rem solid white;
  border-left: 0.1875rem solid white;
  -webkit-transform: rotate(-45deg);
}
.post_body table[id*="ipb-attach"] *,
#multimoderation > form table[id*="ipb-attach"] * {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.post_body table[id*="ipb-attach"] * .attach,
#multimoderation > form table[id*="ipb-attach"] * .attach {
  margin-bottom: 0.2rem;
}
.post_body img[src*="folder_mime_types"],
#multimoderation > form img[src*="folder_mime_types"],
.post_body img[alt="Прикрепленный файл"],
#multimoderation > form img[alt="Прикрепленный файл"] {
  display: none;
}
.post_body a,
#multimoderation > form a {
  color: #3490c3;
  text-decoration: none;
}
.post_body a[attach_id]:not([id*="ipb-attach"]),
#multimoderation > form a[attach_id]:not([id*="ipb-attach"]),
.post_body a.sp_img,
#multimoderation > form a.sp_img {
  display: inline-block;
  margin: 0.2rem 0;
}
.post_body a[attach_id]:not([id*="ipb-attach"]):before,
#multimoderation > form a[attach_id]:not([id*="ipb-attach"]):before,
.post_body a.sp_img:before,
#multimoderation > form a.sp_img:before {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
  content: '';
  background-image: url(material_src/attach_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: bottom;
}
.post_body font,
#multimoderation > form font {
  font-size: 0.875rem !important;
}
.post_body font > *,
#multimoderation > form font > * {
  opacity: 0.7 !important;
}
.post_body font *,
#multimoderation > form font * {
  font-size: inherit;
  color: #4d4d4d;
}
.post_body font a[title="Перейти к сообщению"],
#multimoderation > form font a[title="Перейти к сообщению"] {
  font-size: 0.625rem;
}
.post_body .edit,
#multimoderation > form .edit {
  display: block;
  font-size: 0.875rem !important;
  color: #808080;
}
.post_body .post-edit-reason,
#multimoderation > form .post-edit-reason {
  display: inline-block;
  font-size: 0.9375rem;
  margin-top: 0.3rem;
  font-weight: bold;
  color: #808080;
  text-align: left;
}
div[data-post] > a {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
}
#preview .post_body {
  margin-left: 0.7rem;
}
/*
 *	POST_FOOTER
*/
.post_footer,
.s_post_footer {
  display: block;
  overflow: hidden;
  position: relative;
  clear: both;
  font-size: 0.625rem;
  padding: 0 0.25rem;
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
}
.post_footer ~ br {
  display: none;
}
.post_footer .button {
  display: inline-block;
  height: 1.25rem;
  padding: 0.5rem;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #808080;
  cursor: pointer;
}
.post_footer .button.claim,
.post_footer .button.quote,
.post_footer .button.nick {
  float: left;
}
.post_footer .button.vote {
  color: white;
  opacity: 0.7;
}
.post_footer .button.vote.good {
  color: #297b29;
}
.post_footer .button.vote.bad {
  color: #c85b5b;
}
.post_footer .button.edit,
.post_footer .button.delete {
  float: right;
}
@media screen and (max-width: 800px) {
  .post_footer .button.claim,
  .post_footer .button.edit,
  .post_footer .button.delete {
    display: none;
  }
  .post_footer .button.quote {
    float: right;
  }
}
@media screen and (max-width: 400px) {
  .post_footer .button {
    min-width: 2rem;
  }
  .post_footer .button.quote:before {
    content: 'Цит';
  }
  .post_footer .button.nick:before {
    content: 'Ник';
  }
  .post_footer .button.vote span,
  .post_footer .button.nick span,
  .post_footer .button.quote span {
    display: none;
  }
  .post_footer .button.bad:before {
    content: "–";
    font-size: 1.2rem;
  }
  .post_footer .button.good:after {
    content: "+";
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 401px) {
  .post_footer .button.bad {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .post_footer .button.good {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/*
*	SEARCH
*/
.search-results {
  font-size: 1rem;
  line-height: 1.4em;
}
.search-results .topic_title_post {
  margin: 0 !important;
}
.search-results .topic_title_post a {
  display: block;
  position: relative;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #808080;
  background: white;
  border-bottom: 1px solid #e6e6e6;
}
.search-results .post_header {
  min-height: 2.2rem;
  padding-top: 0.7rem;
  text-align: center;
}
.search-results .post_header .date {
  border: none;
  color: #808080;
  font-size: 0.875rem;
}
.search-results .post_header .nick span {
  font-weight: bold;
  font-size: 1.125rem;
}
.searchlite {
  color: #FF6A00;
}
.postcolor {
  height: auto !important;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  max-height: 18rem;
}
.signature {
  position: relative;
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  .signature {
    margin: -2rem 0 0;
    padding: 0.7rem 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    background: white;
  }
}
.signature:before {
  display: block;
  content: 'Подпись:';
  font-weight: bold;
  color: #808080;
  padding: 0.5rem 0;
}
.s_post_footer {
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  color: #808080;
  border-top: 1px solid #e6e6e6;
}
.s_post_footer a {
  color: #3490c3;
  text-decoration: none;
}
.s_post_footer ~ .between_messages ~ .topic_title_post ~ .post_header {
  margin-top: 0 !important;
}
.bad-search-result {
  font-size: 1rem;
  line-height: 1.4em;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 19rem;
  margin: 0.5rem;
  margin-left: -9.5rem;
  margin-top: -4rem;
  border-radius: 0.125rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  background: white;
}
.bad-search-result h3 {
  font-size: 1.25rem;
  text-align: left;
  margin: 1.5rem;
}
.bad-search-result span {
  display: block;
  margin: 1.5rem;
  color: #808080;
}
/*
*	OTHER
*/
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: middle;
}
.img[style*="av.png"] {
  background-image: url(profile/logo.png), url("file:///android_asset/profile/logo.png") !important;
}
#bottomMargin {
  display: block;
  height: 100px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #a7a7a7;
}
