@charset "utf-8";
HTML {
  font-size: 1em;
  padding: 0 0.1em;
}
body {
  width: 100%;
  font-size: 100%;
  display: block;
  background: #000000;
  color: #ffffff;
  margin: 0;
}
.post_body span[style*="font-size:36pt"] {
  font-size: 3.75em !important;
}
.post_body span[style*="font-size:36pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:24pt"] {
  font-size: 2.55em !important;
}
.post_body span[style*="font-size:24pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:18pt"] {
  font-size: 1.95em !important;
}
.post_body span[style*="font-size:18pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:14pt"] {
  font-size: 1.55em !important;
}
.post_body span[style*="font-size:14pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:12pt"] {
  font-size: 1.35em !important;
}
.post_body span[style*="font-size:12pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:10pt"] {
  font-size: 1.15em !important;
}
.post_body span[style*="font-size:10pt"] * {
  font-size: inherit !important;
}
.post_body span[style*="font-size:8pt"] {
  font-size: 0.95em !important;
}
.post_body span[style*="font-size:8pt"] * {
  font-size: inherit !important;
}
.post-block.close > .block-body {
  display: none;
}
.post-block.box > .block-body {
  overflow: auto;
}
@media screen and (orientation: landscape) {
  .post-block.spoil.open > .block-title:before {
    content: 'Спойлер (\2013) ( ';
  }
  .post-block.spoil.close > .block-title:before {
    content: 'Спойлер (+) ( ';
  }
  .post-block.spoil > .block-title:after {
    content: ' )';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: 'Спойлер (\2013)';
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: 'Спойлер (+)';
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код (';
  }
  .post-block.code > .block-title:after {
    content: ' )';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код';
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ( ';
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013) ( ';
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+)';
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст ( ';
  }
  .post-block.hidden > .block-title:after {
    content: ' )';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст';
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:before {
    content: 'Цитата ( ';
  }
  .post-block.quote > .block-title:after {
    content: ' )';
  }
  .post-block.quote > .block-title:empty:before {
    content: 'Цитата';
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
@media screen and (orientation: portrait) {
  .post-block.spoil.open > .block-title:before {
    content: '(\2013) ';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:before {
    content: '(+) ';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:after {
    content: '';
  }
  .post-block.spoil.open > .block-title:empty:before {
    content: '(\2013) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil.close > .block-title:empty:before {
    content: '(+) Спойлер';
    font-weight: bold;
  }
  .post-block.spoil > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code > .block-title:empty:before {
    content: 'Код: ';
    font-weight: bold;
  }
  .post-block.code > .block-title:empty:after {
    content: '';
  }
  .post-block.code.box > .block-title:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.code.box > .block-title:empty:before {
    content: 'Код (+) ';
    font-weight: bold;
  }
  .post-block.code.unbox > .block-title:empty:before {
    content: 'Код (\2013)';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:after {
    content: '';
  }
  .post-block.hidden > .block-title:empty:before {
    content: 'Скрытый текст: ';
    font-weight: bold;
  }
  .post-block.hidden > .block-title:empty:after {
    content: '';
  }
  .post-block.quote > .block-title:empty:before {
    content: '"Цитата"';
    font-weight: bold;
  }
  .post-block.quote > .block-title:empty:after {
    content: '';
  }
}
*[style*="color:royalblue"] {
  color: #99afef !important;
}
*[style*="color:blue"] {
  color: #6666ff !important;
}
*[style*="color:darkblue"] {
  color: #3f3fff !important;
}
*[style*="color:indigo"] {
  color: #aa35ff !important;
}
*[style*="color:crimson"] {
  color: #ee4062 !important;
}
*[style*="color:red"] {
  color: #ff4242 !important;
}
*[style*="color:darkred"] {
  color: #ff2525 !important;
}
*[style*="color:deeppink"] {
  color: #ff61b6 !important;
}
*[style*="color:Black"],
*[style*="color:black"],
*[style*="color:#000000"],
*[style*="color:#000"] {
  color: #fff!important;
}
*[style*="background-color:white"] *[style*="color:black"],
*[style*="color:black"] *[style*="background-color:white"],
*[style*="background-color:white"] *[style*="color:#000000"],
*[style*="color:#000000"] *[style*="background-color:white"] {
  color: #000!important;
}
.poll {
  display: table;
  width: 100%;
  margin: 0 0 1rem;
}
.poll .hidetop {
  border-left: 3px #5588cc ridge;
}
.poll form table {
  width: 100%;
}
.poll form table tr .row1[align="center"] {
  display: block;
  margin: 0.5rem 0;
}
.poll form table .formbuttonrow {
  text-align: center;
}
.poll form table .formbuttonrow .button {
  margin: 0.5rem 0;
  border-top: 1px solid #222222;
  border-right: 1px solid #131313;
  border-bottom: 1px solid #0e0e0e;
  border-left: 1px solid #131313;
  font-weight: bold;
  text-align: center;
  background: #131313;
  color: #cccccc !important;
}
.poll form > .ipbtable th[align="center"] {
  display: none;
  padding: 0.5rem 0;
}
.poll form > .ipbtable .borderwrap {
  border: 1px solid #333333;
  margin: 1rem 0 0;
}
.poll form > .ipbtable .borderwrap .row1 {
  font-size: 1rem;
  background: #131313;
  color: #cccccc;
}
.poll form > .ipbtable .borderwrap tr {
  display: table;
  width: 100%;
  line-height: 1.4rem;
  padding: 0 0.3rem;
  border-bottom: 1px solid #333333;
}
.poll form > .ipbtable .borderwrap tr:last-of-type {
  border: none;
}
.poll form > .ipbtable .borderwrap tr img {
  display: inline-block;
  margin: -0.15rem -0.2rem 0;
  height: 0.8rem !important;
  vertical-align: middle !important;
}
.hidetop {
  display: block;
  padding: 0.3em;
  background: #1d2d3e;
  margin: -0.1em 0 0;
  background: #131313;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #040404;
  color: #ffffff;
  text-align: center;
}
.post-block.spoil {
  margin: 0.4rem 0;
}
.post-block.spoil > .block-title {
  display: block;
  padding: 0.3em;
  margin: 0 -0.3rem;
  background: #131313;
  border-left: 3px #5588cc ridge;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #040404;
  color: #ffffff;
}
.post-block.spoil > .block-body {
  padding: 0.5em;
  margin: 0 -0.3em;
  border-left: 3px #5588cc ridge;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
}
.post-block.spoil > .block-body .post-block.spoil {
  margin-top: 0;
}
.post-block.quote {
  display: block;
  padding: 0;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #5588cc;
}
.post-block.quote > .block-title {
  display: block;
  padding: 0.2rem 0.4rem;
  background: #131313;
  border-top: 1px solid #363636;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px solid #040404;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
  color: #999999;
}
.post-block.quote > .block-body {
  border-bottom: 1px dotted #858585;
  border-right: 1px dotted #b2b2b2;
  color: #999999;
  padding: 0.5em;
  color: #ffffff;
}
.post-block.code {
  display: block;
  padding: 0;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #448844;
}
.post-block.code > .block-title {
  display: block;
  padding: 0.2rem 0.4rem;
  background: #131313;
  border-top: 1px solid #363636;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px solid #040404;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
  color: #448844;
}
.post-block.code > .block-body {
  border-bottom: 1px dotted #858585;
  border-right: 1px dotted #b2b2b2;
  color: #999999;
  padding: 0.5em;
  color: #ffffff;
}
.post-block.hidden {
  display: block;
  padding: 0;
  margin: 1em 0.2em 1em 0;
  border-left: 0.2em solid #666666;
}
.post-block.hidden > .block-title {
  display: block;
  padding: 0.2rem 0.4rem;
  background: #131313;
  border-top: 1px solid #363636;
  border-right: 1px solid #2c2c2c;
  border-bottom: 1px solid #040404;
  font-weight: bold;
  line-height: 1.4;
  font-size: 1rem;
  color: #999999;
}
.post-block.hidden > .block-body {
  border-bottom: 1px dotted #858585;
  border-right: 1px dotted #b2b2b2;
  color: #999999;
  padding: 0.5em;
  color: #ffffff;
}
/***ADM***/
.cur {
  background: #00943b;
}
.mod {
  background: #6060ff;
}
.ex {
  background: #ff6060;
}
.cur,
.mod,
.ex {
  margin: 0.8em  0;
  border: 1px solid #333333;
  display: table;
  width: 100%;
}
.cur > .block-title,
.mod > .block-title,
.ex > .block-title {
  display: table-cell;
  vertical-align: middle;
  color: #000000;
  font-weight: bold;
  width: 4.5rem;
  text-align: center;
  height: 100%;
  padding: 0.5em 0;
  font-size: 3.5rem;
  font-family: Times New Roman, Serif;
}
.cur > .block-body,
.mod > .block-body,
.ex > .block-body {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  background: #000000;
  height: 100%;
  margin: 0;
}
/*** navi ***/
.navi {
  display: block;
  margin-top: 3px;
  max-width: 100%;
  text-align: center;
  background: #000000;
}
.navi .first,
.navi .prev,
.navi .page,
.navi .next,
.navi .last {
  background: #131313;
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-top: 1px solid #363636;
  border-right: 1px solid #0e0e0e;
  border-bottom: 1px solid #040404;
  border-left: 1px solid #222222;
  font-weight: bold;
  color: #999999 !important;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}
.navi .first .href_button,
.navi .prev .href_button,
.navi .page .href_button,
.navi .next .href_button,
.navi .last .href_button {
  text-shadow: 0 0 1px #000000, 0 0 0.8rem #626262;
}
.navi .first,
.navi .prev,
.navi .next,
.navi .last {
  width: 15%;
}
.navi .page {
  width: 26%;
}
/*** QMS ***/
.check-item {
  display: block;
  text-align: right;
  line-height: 1.5;
  padding-top: 0.3em;
}
#thread-inside-top ~ .date {
  border-bottom: dotted 1px #4d4d4d;
  margin: 3em auto;
  text-align: center;
}
.date .text {
  top: 0.6em;
  display: inline-block;
  padding: 0 0.6em;
  position: relative;
  color: #b3b3b3;
  font-size: 1.1rem;
  font-weight: bold;
  background: #000000;
  text-transform: lowercase;
}
.read-status.unread.big-dot {
  position: relative;
  top: -0.1em;
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  border-radius: 0.6em;
  background: #c77;
}
.avatar-wrap {
  display: block;
  overflow: hidden;
  width: 4em;
  margin-left: 0.3em;
  margin-top: -1.2em;
}
.avatar {
  display: inline-block;
  width: 4em;
  line-height: 4em;
  background: #f0f0f0;
}
label ~ .time {
  position: relative;
  float: right;
  margin-right: 1.7em;
  margin-top: -1.4em;
  font-size: 0.9rem;
  color: #b3b3b3;
}
strong,
strong span {
  line-height: 1.5;
  font-size: 1.1rem;
  margin-left: 0.2em;
}
.list-group-item {
  display: block;
  margin: 0 0.2em;
  padding: 0;
  border-top: 3px ridge #5588cc;
  background: #131313;
}
.msg-content {
  margin: 0 0 0;
  padding: 0.5em 0.5em 1em;
  color: #ffffff;
  border-bottom: 1px solid #363636;
  background: #000000;
}
#bottom_element {
  margin: 2em 0em;
  text-align: center;
}
#bottom_element:before {
  content: '~КОНЕЦ~';
  color: #999;
  font-weight: bold;
  display: inline-block;
}
/*** END QMS ***/
table {
  font-size: inherit;
}
img[src*="style_emoticons"] {
  min-height: 1.2rem !important;
  min-width: 1.2rem !important;
  vertical-align: bottom;
}
a {
  color: #7799dd;
  line-height: 1.7;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] {
  position:  relative;
  display: inline-block;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"] > img {
  position: absolute;
  opacity: 0;
}
.post_body a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  content: '«';
  text-decoration: none;
  font-weight: bold;
  font-size: 1.45em;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
  margin: -0.2em -0.3em;
  color: #58c;
}
.post-block .block-title a[href*="act=findpost&pid="][title="Перейти к сообщению"]:after {
  margin-right: -0.2em !important;
}
ul,
ol {
  margin-left: -1em;
}
.spoiler_button {
  position: relative;
  z-index: 99;
  float: right;
  width: 100%;
  display: block;
  margin-top: -2.7em;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  background: none;
  border: 0;
  color: #000000;
  text-transform: lowercase;
  text-align: right;
}
img {
  max-width: 100%!important;
  height: auto!important;
}
.sp_img {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.3em;
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
  background: #0d0d0d;
}
.post_body font {
  font-size: 0.95rem!important;
}
.post_body {
  font-size: 1rem;
  position: relative;
  padding: 0.8em 0.5em 1em;
  clear: both;
  word-wrap: break-word;
  background: #000000;
  border-top: 1px solid #131313;
  border-bottom: 1px solid #131313;
}
.signature {
  font-size: 1rem;
  position: relative;
  padding: 1em 0.5em 2em;
  clear: both;
  word-wrap: break-word;
  background: #131313;
  border-bottom: 1px solid #595959;
}
.signature:before {
  content: 'подпись';
  display: block;
  margin-top: -0.8em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: #808080;
  font-size: 0.8em;
  border-bottom: 1px solid #404040;
}
.post_header {
  padding: 0 0.4em;
  border-bottom: 1px solid #000000;
  border-top: 3px ridge #5588cc;
  background: #131313;
  margin-top: 0;
  min-height: 3.4rem;
}
.margin_left {
  display: inline-block;
  width: 4.4rem;
}
.post_header A.system_link[onclick*="window.HTMLOUT.showPostMenu"] {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  font-weight: bold;
  text-align: center;
  color: #999999 !important;
  display: block;
  margin-top: -0.8rem !important;
  position: absolute;
  right: 0.4rem;
}
.post_header a img {
  margin-bottom: 0;
}
.system_link .post_date_cli {
  display: inline-block;
  line-height: 1.2;
  margin: -0.9rem 0 0;
  margin-top: 0;
  position: relative;
  font-size: 0.95rem;
  color: #b3b3b3;
  margin-bottom: 0.2rem;
}
.post_header DIV .post_date_cli {
  position: absolute;
  margin-top: -1.3rem;
  padding: 0 0.4rem;
  text-align: left;
  left: 0.1rem;
  right: 0.1rem;
  display: block;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #b3b3b3;
  background: #131313;
  border-bottom: 1px solid #000000;
}
.post_header DIV .post_date_cli a {
  color: #b3b3b3;
}
.post_header DIV .post_date_cli a[onclick*="window"] {
  margin-left: 0.2em;
  font-size: 0.9rem;
  font-weight: bold;
  float: right;
}
.post_nick_cli a,
.post_nick_online_cli a {
  position: relative;
  top: 0.7rem;
  margin-top: 1rem !important;
  display: inline-block;
}
.post_nick_cli a {
  position: relative;
  font-size: 1.1rem !important;
  line-height: 1.2;
  color: #b3b3b3;
  font-weight: bold;
}
.post_nick_online_cli a {
  font-size: 1.1rem !important;
  line-height: 1.2;
  color: #6694d1 !important;
  font-weight: bold;
  text-shadow: 0 0 1px #000000, 0 0 0.8rem #626262;
}
.avatar_parent_container {
  position: absolute;
  display: table;
  width: 4rem;
  height: 4rem;
  margin: -0.9rem 0 0 -0.1rem;
}
.avatar_container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  overflow: hidden;
  border-radius: 0.3em;
}
.avatar_container IMG {
  display: block;
  margin: 0 auto;
  max-width: 3.8rem !important;
  max-height: 3.8rem !important;
}
.user_group {
  display: inline-block;
  margin-top: 0.3rem;
  position: relative;
  font-size: 0.9rem;
  color: #b3b3b3;
}
.post_date {
  position: relative;
  float: right;
  display: block;
  line-height: 1;
  color: #b3b3b3;
}
.post_user_info {
  display: block;
  color: transparent;
  text-transform: lowercase;
}
.post_user_info a {
  color: #b3b3b3;
  text-decoration: none;
}
.post_user_info br {
  display: none;
}
.post_user_info strong {
  font-size: 1rem;
  color: #0a0;
  line-height: 1;
  margin: 0;
}
.post_user_info span {
  display: block;
  font-size: 0.95rem;
  text-transform: lowercase;
  line-height: 1.5;
  color: #b3b3b3;
}
.post_user_info a {
  font-size: 0.95rem;
  margin: 0 0 0 0.4em;
  display: inline-block;
  line-height: 1.5;
  float: right;
}
.post_user_info a:first-of-type:before {
  content: '|';
  padding-right: 0.5em;
}
.post_action {
  display: table;
  position: relative;
  width: 100%;
  text-transform: lowercase;
}
.post_action a {
  font-size: 0.95rem;
  display: inline-block;
  float: right;
  line-height: 0.8;
  padding-left: 0.5em;
  color: #b3b3b3;
  text-decoration: none;
}
.post_action a:before {
  content: '|';
  padding-right: 0.5em;
}
.post_action a:first-of-type:before {
  content: '';
  padding-right: 0;
}
.post_action a:last-of-type:before {
  content: '';
}
.post_action a:first-of-type {
  display: inline-block;
  color: #808080;
  float: left;
  padding-left: 0;
  line-height: 1;
}
.post_nick a {
  margin-top: -0.8em;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
  font-size: 1.1rem !important;
  color: #ffffff !important;
  font-weight: bold;
}
.s_post_footer {
  position: relative;
  clear: both;
  padding: 0 0.3rem;
  margin-top: -0.1rem;
  background: #131313;
  border-bottom: 1px solid #595959;
  text-align: center;
  color: #a6a6a6;
}
.s_post_footer td {
  position: relative;
  top: -0.15rem;
  padding: 0.2em 0.3em;
  border-top: 1px solid #4d4d4d;
}
@media screen and (min-width: 960px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #131313;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #404040;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .send_claim_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .send_claim_button:before {
    content: 'жалоба';
  }
  .post_footer a .send_claim_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    margin-left: 1em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
  }
  .post_footer a .quote_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
    margin-left: 1em;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    font-weight: bold;
    content: "➜";
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
    color: #078107;
  }
  .post_footer a .delete_post_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .delete_post_button:before {
    content: 'удалить';
  }
  .post_footer a .delete_post_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
    margin-left: 0.9em;
  }
  .post_footer a .edit_post_button {
    display: block;
    float: right;
    margin-left: 1em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .edit_post_button:after {
    content: 'редактировать';
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #131313;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #404040;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin-right: 0.25em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .post_vote_bad:after {
    content: 'плохо';
    margin-right: 0.5em;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
    font-size: 1em;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
    margin-left: 0.25em;
  }
  .post_footer a .post_vote_good:before {
    content: 'хорошо';
    margin-left: 0.15em;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    top: 0.1em;
    content: "➜";
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    margin-left: 0.15em;
    float: right;
    font-size: 1em;
    color: #078107;
  }
}
@media screen and (max-width: 480px) {
  .post_footer {
    display: table-block;
    min-height: 1.6em;
    text-align: center;
    position: relative;
    padding: 0.3em 0.6em;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background: #131313;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #404040;
  }
  .post_footer a {
    display: table-block;
    text-decoration: none;
  }
  .post_footer a span {
    display: table-block;
  }
  .post_footer a .insert_nick_button {
    display: block;
    float: left;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .insert_nick_button:before {
    content: 'имя';
  }
  .post_footer a .insert_nick_button:after {
    content: '';
    position: absolute;
    padding: 0.7em 0;
  }
  .post_footer a .quote_button {
    display: block;
    float: right;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .quote_button:before {
    content: 'цитата';
  }
  .post_footer a .post_vote_bad {
    display: inline-block;
    width: 1.6em;
    margin-right: 0.15em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .post_vote_bad:before {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "–";
    font-size: 1.2em;
    font-weight: bold;
    color: #d33d3d;
  }
  .post_footer a .post_vote_good {
    display: inline-block;
    width: 1.6em;
    margin-left: 0.15em;
    line-height: 1.2;
    margin-top: 0.1em;
    padding: 0 0.4em 0.1em;
    border-top: 1px solid #363636;
    border-right: 1px solid #0e0e0e;
    border-bottom: 1px solid #040404;
    border-left: 1px solid #222222;
    font-weight: bold;
    text-align: center;
    color: #999999 !important;
  }
  .post_footer a .post_vote_good:after {
    position: relative;
    display: inline-block;
    line-height: 1;
    top: 0.1em;
    content: "+";
    font-size: 1.2em;
    font-weight: bold;
    color: #078107;
  }
}
.searchlite {
  color: #e65;
}
.href_button {
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-transform: lowercase;
  color: #7799dd;
  text-decoration: none;
  text-align: center;
  padding: 0.4em 0;
}
.href_button_disable {
  color: #040404;
  display: inline-block;
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 0.4em 0;
}
.topic_title_post {
  margin: 0 0 -0.2rem;
  padding: 2em;
  text-align: center;
}
.topic_title_post a {
  color: #7799dd;
  text-decoration: none!important;
  line-height: 1.2;
}
.quotetop img {
  margin-top: auto;
  margin-bottom: auto;
}
DIV > STRONG > SPAN.edit {
  text-align: left;
}
.edit {
  display: block;
  font-size: 0.9rem;
  color: #9c9c9c;
  text-align: right;
}
edit b {
  font-size: 0.95rem;
}
.edit * {
  font-size: 0.9rem;
  color: #9c9c9c;
}
.post-edit-reason {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #c8c8c8;
}
/*news*/
.container {
  margin: 0;
  display: block;
  margin: 0.3em;
  background: #000000;
  border: 1px solid #646464;
  padding: 0.3em;
  color: #ffffff;
}
.product-detail {
  display: block;
  border: 1px solid #4e4e4e;
  background: #131313;
  padding: 0 0.2em 0.5em;
}
.product-detail .photo {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.product-detail .photo img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.product-detail .photo .label {
  display: block;
  margin-top: -1.7em;
  opacity: 0.7;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  background: #999;
}
.product-detail .photo .label.orange {
  color: orange;
}
.product-detail .description h1 {
  text-align: center;
  font-size: 1.5em;
  color: #bdbdbd;
}
.product-detail .info-holder {
  display: block;
  text-align: center;
}
.product-detail .info-holder .date {
  padding: 0 0.5em;
}
.product-detail .more-box {
  position: relative;
  margin-top: 0.5em;
  text-align: center;
}
.product-detail .more-box .number {
  display: inline-block;
  padding: 0 1rem;
  margin: 0.7rem;
  font-size: 1.5em;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background: #6b8ad6;
}
.product-detail .more-box .meta {
  display: block;
}
BLOCKQUOTE {
  border-left: 0.3em solid #4874ad;
  padding: 0 0 0 0.8rem;
  margin-left: 0.4rem;
}
BLOCKQUOTE H3 {
  text-align: left;
  color: #cccccc;
}
.review-bottom-informer {
  padding: 0 0.3em;
  background: #000000;
}
.review-bottom-informer .item {
  text-align: center;
  display: block;
  border: 1px solid #4d4d4d;
  margin: 0.3em 0;
  box-sizing: border-box;
  padding: 0.35em;
  background: #191919;
}
.review-bottom-informer .item .title {
  display: block;
  text-align: center;
  font-size: 2em;
}
.review-bottom-informer .item .desc br {
  display: none;
}
.content {
  display: block;
  padding: 0.5em;
}
h3 {
  text-align: center;
}
h3 a {
  text-decoration: none;
  font-size: 1.4em;
  color: #bdbdbd;
}
.mlinks {
  border: 1px solid #646464;
  margin: 1rem 0;
}
.mlinks .mlhead {
  display: table;
  width: 100%;
  padding: 0.2rem;
  background: #131313;
}
.mlinks .mlhead .mlicon {
  display: block;
  float: left;
  width: 4rem;
  margin: 0.2rem 0.4rem 0.2rem 0.2rem;
}
.mlinks .mlhead .mltitle {
  display: block;
  height: 2.2rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 0;
  font-size: 1.1rem;
}
.mlinks .mlhead .mlauthor {
  display: block;
  height: 2.2rem;
  line-height: 1.2rem;
  text-align: left;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
.mlinks .mltbl.platforms {
  background: #000000;
  margin: 0.2rem 0 -0.3rem 0;
}
.mlinks .mlright,
.mlinks .mltbl.platforms {
  display: table-block;
}
.mlinks .mlright .mlrow,
.mlinks .mltbl.platforms .mlrow {
  display: table;
  width: 100%;
}
.mlinks .mlright .mlrow .mlcell.th,
.mlinks .mltbl.platforms .mlrow .mlcell.th {
  border: none;
  border-bottom: 1px solid #383838;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
}
.mlinks .mlright .mlrow .mlcell,
.mlinks .mltbl.platforms .mlrow .mlcell {
  display: table-cell;
  width: 30%;
  border-bottom: 1px solid #383838;
  border-right: 1px solid #383838;
  text-align: center;
}
.mlinks .mlright .mlrow .mlcell:last-of-type,
.mlinks .mltbl.platforms .mlrow .mlcell:last-of-type {
  border-right: none;
}
.mlinks .mlright .mlrow .mlcell:first-of-type,
.mlinks .mltbl.platforms .mlrow .mlcell:first-of-type {
  width: 10% !important;
}
.mlinks .mlscreenshots.mlbody {
  border-top: 1px solid #4e4e4e;
  display: block;
  padding: 0.5rem;
}
.mlinks .screenshots {
  overflow-x: auto;
}
.mlinks .screenshots .sc-btn.left,
.mlinks .screenshots .sc-btn.right {
  display: block ;
  height: 0.3rem;
  color: transparent;
}
.mlinks .screenshots .sc-content {
  list-style: none;
  white-space: nowrap;
  padding: 0 2.6rem;
}
.mlinks .screenshots .sc-content:before {
  content: '►';
  font-size: 2rem;
  position: absolute;
  margin-left: -2.3rem;
  display: block;
  display: inline-block;
  background: #5588cc;
  opacity: 0.7;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  width: 2rem;
  color: #000000;
}
.mlinks .screenshots .sc-content:before:hover {
  content: 'сделайте свайп влево по изображениям';
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  background: #000000;
  border: 2px solid #646464;
  color: #ffffff;
}
.mlinks .screenshots .sc-content a {
  display: inline;
  padding: 0.1rem;
  padding-right: 0.3rem;
  white-space: nowrap;
  zoom: 1;
}
.mlinks .screenshots .sc-content a img {
  display: inline-block;
  height: 10rem !important;
}
@font-face {
  font-family: 'fontello';
  src: url('forum/fonts/fontello/fontello.eot?66808348');
  src: url('forum/fonts/fontello/fontello.eot?66808348#iefix') format('embedded-opentype'), url('forum/fonts/fontello/fontello.woff?66808348') format('woff'), url('forum/fonts/fontello/fontello.ttf?66808348') format('truetype'), url('forum/fonts/fontello/fontello.svg?66808348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: fontello;
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot");
  src: url("file:///android_asset/forum/fonts/fontello/fontello.eot") format('embedded-opentype'), url("file:///android_asset/forum/fonts/fontello/fontello.woff") format('woff'), url("file:///android_asset/forum/fonts/fontello/fontello.ttf") format('truetype'), url("file:///android_asset/forum/fonts/fontello/fontello.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}
.icon-hash:before {
  content: '\23';
}
/* '#' */
.icon-karma-up:before {
  content: '\2b';
}
/* '+' */
.icon-hide-comment:before {
  content: '\2d';
}
/* '-' */
.icon-4PDA-plain:before {
  content: '\34';
}
/* '4' */
.icon-android:before {
  content: '\41';
}
/* 'A' */
.icon-comment-baloons:before {
  content: '\43';
}
/* 'C' */
.icon-engines:before {
  content: '\44';
}
/* 'D' */
.icon-pencil:before {
  content: '\45';
}
/* 'E' */
.icon-FB:before {
  content: '\46';
}
/* 'F' */
.icon-home:before {
  content: '\48';
}
/* 'H' */
.icon-apple:before {
  content: '\49';
}
/* 'I' */
.icon-rss:before {
  content: '\52';
}
/* 'R' */
.icon-search:before {
  content: '\53';
}
/* 'S' */
.icon-TWITTER:before {
  content: '\54';
}
/* 'T' */
.icon-VK:before {
  content: '\56';
}
/* 'V' */
.icon-windows:before {
  content: '\57';
}
/* 'W' */
.icon-close:hover:before {
  content: '\58';
}
/* 'X' */
.icon-YOUTUBE:before {
  content: '\59';
}
/* 'Y' */
.icon-up-open:before {
  content: '\5e';
}
/* '^' */
.icon-users:before {
  content: '\75';
}
/* 'u' */
.icon-link:before {
  content: '\bb';
}
/* '»' */
.icon-down-dir-1:before {
  content: '\1d65';
}
/* 'ᵥ' */
.icon-up-dir-1:before {
  content: '\1dba';
}
/* 'ᶺ' */
.icon-karma-down:before {
  content: '\2013';
}
/* '–' */
.icon-left-small:before {
  content: '\2039';
}
/* '‹' */
.icon-right-small:before {
  content: '\203a';
}
/* '›' */
.icon-4pda-logo:before {
  content: '\2163';
}
/* 'Ⅳ' */
.icon-up:before {
  content: '\2191';
}
/* '↑' */
.icon-down:before {
  content: '\2193';
}
/* '↓' */
.icon-back-up:before {
  content: '\21b5';
}
/* '↵' */
.icon-up-small:before {
  content: '\21d1';
}
/* '⇑' */
.icon-login:before {
  content: '\23ce';
}
/* '⏎' */
.icon-profile:before {
  content: '\263a';
}
/* '✓' */
/* '✔' */
.icon-glyph:before {
  content: '\272a';
}
/* '✪' */
.icon-cog:before {
  content: '\2731';
}
/* '✱' */
.icon-del:before {
  content: '\274e';
}
/* '❎' */
.icon-warning-empty:before {
  content: '\2755';
}
/* '❕' */
.icon-attention:before {
  content: '\2757';
}
/* '❗' */
.icon-chart-bar:before {
  content: '\2758';
}
/* '❘' */
.icon-chart-bar-1:before {
  content: '\2759';
}
/* '❙' */
.icon-glyph-1:before {
  content: '\275a';
}
/* '❚' */
.icon-quote-left:before {
  content: '\275d';
}
/* '❝' */
.icon-heart-1:before {
  content: '\2764';
}
/* '❤' */
.icon-heart:before {
  content: '\2765';
}
/* '❥' */
.icon-close:before {
  content: '\2a09';
}
/* '⨉' */
.icon-mlinks-home:before {
  content: '\e081';
}
/* '' */
.icon-edit:before {
  content: '\e80b';
}
/* '' */
.icon-users-1:before {
  content: '👥';
}
/* '\1f465' */
.icon-emo-happy:before {
  content: '😌';
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  color: #7799dd;
}
.table4site {
  display: table-block;
  border: 1px solid #4e4e4e;
  box-sizing: border-box;
}
.table4site TD {
  box-sizing: border-box;
}
.table4site .icon {
  display: table-cell;
  border-right: 1px solid #4e4e4e;
  width: 3.2rem;
}
.table4site .icon IMG {
  width: 3rem;
}
.table4site TD:nth-child(2) {
  border-bottom: 1px solid #383838;
  display: block;
}
.table4site TD:nth-child(2) P {
  display: table-cell;
  padding: 0.4rem;
}
.table4site .links {
  margin: 2px 0 0;
  display: table;
  width: 100%;
}
.table4site .links P {
  font-size: 1rem;
  line-height: 1rem;
  width: 50%;
  padding: 0.3rem;
  display: table-cell;
  height: 50%;
  text-align: center;
  background: #131313;
}
.table4site .links P a {
  font-size: 0.9rem;
}
.materials-box {
  display: block;
  margin: 2rem 0 1rem;
  padding: 0;
}
.materials-box .box-title {
  margin: 0.5em 0.2em;
  padding: 0.2em 0;
  text-align: center;
  color: #bdbdbd;
  border-top: 1px solid #383838;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(10%, #191919), color-stop(90%, #191919), color-stop(100%, #000000));
}
.materials-box .materials-slider {
  display: table-block;
  padding: 0;
  margin: 0;
  border-spacing: 0.7rem;
  overflow-x: scroll;
}
.materials-box .materials-slider .slider-item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .materials-box .materials-slider .slider-item {
    width: 1px;
  }
  .materials-box .materials-slider .slider-item > a {
    width: 10rem;
  }
}
.materials-box .materials-slider .slider-item > a {
  display: block;
}
.materials-box .materials-slider .slider-item > a img {
  width: 100%;
  height: 75%;
}
.materials-box .materials-slider .slider-item h3 {
  display: block;
  margin: 0;
  padding: 0.3rem;
  vertical-align: middle;
}
.materials-box .materials-slider .slider-item h3 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  font-weight: normal;
  color: #ffffff;
}
.page-nav.box {
  margin: 0 0.2rem;
  padding: 0;
  text-align: center;
}
.page-nav.box li {
  display: inline-block;
  width: 48%;
  margin: 0;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  color: #a7a7a7;
}
.page-nav.box li a {
  line-height: 1.2;
  margin-top: 0.1em;
  padding: 0 0.4em 0.1em;
  border-top: 1px solid #363636;
  border-right: 1px solid #0e0e0e;
  border-bottom: 1px solid #040404;
  border-left: 1px solid #222222;
  font-weight: bold;
  text-align: center;
  color: #999999 !important;
  background: #131313;
  font-weight: normal;
}
.page-nav.box a {
  text-decoration: none;
}
.comment-box h2 {
  margin: 0.5em 0.2em;
  text-align: center;
  padding: 0.2em 0;
  color: #bdbdbd;
  border-top: 1px solid #383838;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(10%, #191919), color-stop(90%, #191919), color-stop(100%, #000000));
}
#comments {
  font-size: 1rem;
  display: block;
  padding: 0.7em 0;
  position: relative;
  margin: 0.2em 1px 0.2em 0;
  font-weight: normal;
  color: #ffffff;
  text-align: left;
}
#comments li,
#comments ul {
  list-style-type: none;
  padding: 0;
  margin: 0.8em 1px 0.4em 2px;
}
.comment-box li {
  border: 1px solid #4e4e4e;
  text-align: left;
  margin: 1em 0 0 0;
  word-wrap: break-word;
  background: #000000;
  -webkit-box-shadow: 1px 2px 6px #000000;
}
#comments li .heading {
  position: relative;
  display: block;
  margin: -1px 0 0 0;
  border-top: 3px ridge #5588cc;
  border-bottom: 1px solid #000000;
  background: #131313;
  text-shadow: 0 0 0.2em #000000;
  padding: 0.2em 0;
}
.nickname {
  text-decoration: none;
  font-style: normal !important;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.5em;
  color: #6694d1 !important;
  line-height: 1.4;
}
.h-meta {
  text-decoration: none;
  font-weight: normal;
  font-size: 1rem;
  color: #bdbdbd;
  float: right;
  margin-top: -0.3em;
  margin-right: 0.2em;
  line-height: 1.4;
}
.h-meta .more-meta a {
  display: inline-block;
  width: 1.2rem;
}
#comments li p {
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-bottom: 0;
  margin: 0 0.2em;
}
#comments a:nth-child(2) {
  position: relative;
  display: block;
  text-align: center;
  top: -0.5em;
}
#comments p ~ div {
  display: block;
  text-align: right;
  border-top: 1px solid #333333;
  margin: 0.5em 0.5em 0;
}
